#clogo{
	margin:0 auto;
	display:block;
}
#footer-message{
	font-size:14px;
	font-weight:normal;
}
#ios7statusbar{
	width:100%;
	height:20%;
	background-color:white;
	position:fixed;
	z-index:10000;
}
.ios7 .ui-page, .ios7 .ui-pane{
	margin-top:20px;
}